<div class="my-5"></div>
<p class="mb-0 text-muted">Harled Inc</p>
<h2>🧐 Monocle</h2>
<hr/>
<div class="row">
  <div class="col col-md-4">
    <div class="card h-100 w-100">
      <%= render Monocle::ExceptionsByControllerComponent.new(exceptions: Monocle::AuthorizationException.all) %>
    </div>
  </div>
  <div class="col col-md-4">
    <div class="card h-100 w-100">
      <%= render Monocle::ExceptionsByRequestComponent.new(exceptions: Monocle::AuthorizationException.all) %>
    </div>
  </div>
  <div class="col col-md-4">
    <div class="card h-100 w-100">
      <%= render Monocle::ExceptionsByUserComponent.new(exceptions: Monocle::AuthorizationException.all) %>
    </div>
  </div>
</div>
<p class="text-muted text-center mt-5">QUICK STATS</p>
<hr/>
<div class="row mt-4">
  <div class="col-md-3 d-flex align-items-stretch">
    <%= render Monocle::ExceptionsSinceTimeAgoComponent.new(exceptions: Monocle::AuthorizationException.all) %>
  </div>
  <div class="col-md-3 d-flex align-items-stretch">
    <%= render Monocle::UsersAffectedSinceTimeAgoComponent.new(exceptions: Monocle::AuthorizationException.all) %>
  </div>
  <div class="col-md-3 d-flex align-items-stretch">
    <%= render Monocle::HighestControllerActionCountComponent.new(exceptions: Monocle::AuthorizationException.all) %>
  </div>
</div>